<div class="card">
  <img [src]="product.image" class="card-img-top" [alt]="product.name">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <ng-container *ngFor="let star of arrayStars, let i = index">
    <i class="bi bi-star-fill" [ngClass]="i<=product.stars?'text-warning':''"></i>
    </ng-container>
    <p>{{product.price |currency}}</p>
    <hr>
    <span>{{membershipPrice(product.price) | currency}}</span>
    <img src="/assets/images/membership.png" alt="member image" id="membership">
    <div class="row card-actions my-2 mx-0 px-0">
    <a href="#" class="btn btn-info mx-0">Agregar al carrito</a>
    </div>
  </div>
</div>
