<div class="bg-dark text-white fw-bolder" id="nav1">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col d-flex justify-content-start align-items-center">
        <span>Compras seguras online | Pago contra entrega | Entregas el mismo día</span>
      </div>
      <div class="row col d-flex justify-content-end align-items-center">
        <span class="fs-6 text-end">Llámanos 3009108496 | Escríbenos:
          <i class="fs-6 bi bi-youtube mx-2 text-center"></i>
          <i class="fs-6 bi bi-facebook mx-2 text-center"></i>
          <i class="fs-6 bi bi-instagram mx-2 text-center"></i></span>
      </div>
    </div>
  </div>
</div>


<div class="bg-primary text-white fw-bolder" id="nav2">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col row d-flex justify-content-start align-items-center">
        <div class="col-md-1 col-3 my-2">
          <img class="img-thumbnail border-0 logo" src="/assets/images/preview.jpg" alt="Logo">
        </div>
        <form class="col mx-2">
          <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Encuentra lo mejor para tu mascota." aria-label="Username"
                   aria-describedby="addon-wrapping">
            <i class="bi bi-search input-group-text bg-white"></i>
          </div>
        </form>
      </div>
      <div class="col-3 me-0 d-flex justify-content-end align-items-center px-0">
        <i class="text-end mx-2 bi bi-person-circle fs-5 ms-auto me-0"></i>
        <span class="text-end mx-2">Mi cuenta</span>
        <i class="text-end mx-2  bi bi-basket-fill fs-5"></i>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown border-start border-muted ">
          <a class="nav-link text-primary" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <span>Comprar para perros</span> <i class="bi bi-chevron-right"></i>
          </a>
          <ul class="dropdown-menu row col" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Alimento</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Snacks</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">FarmaPet</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Cuidado e <br>Higiene</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Jugetes</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Accesorios</span></a></li>
          </ul>
        </li>
        <li class="nav-item dropdown  border-start border-muted ">
          <a class="nav-link text-primary" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <span>Comprar para gatos</span> <i class="bi bi-chevron-right"></i>
          </a>
          <ul class="dropdown-menu row col" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Alimento</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Snacks</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">FarmaPet</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Cuidado e <br>Higiene</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Jugetes</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Accesorios</span></a></li>
          </ul>
        </li>
        <li class="nav-item dropdown  border-start border-muted ">
          <a class="nav-link  text-primary" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <span>Ofertas</span> <i class="bi bi-chevron-right"></i>
          </a>
          <ul class="dropdown-menu row col" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Alimento</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Snacks</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">FarmaPet</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Cuidado e <br>Higiene</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Jugetes</span></a></li>
            <li><a class="dropdown-item row row-cols-2 d-flex justify-content-center align-items-center mx-0"><i
              class="bi bi-basket-fill fs-2"></i> <span class="fw-bold">Accesorios</span></a></li>
          </ul>
        </li>
        <li class="nav-item  border-start border-muted ">
          <a class="nav-link text-primary">Blog</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
