<div class="bg-dark text-white fw-bolder" id="nav1">
  <div class="container">
    <div class="row d-flex justify-content-between" >
      <div class="col-9 d-flex justify-content-start align-items-center"><span>Compras seguras online | Pago contra entrega | Entregas el mismo</span>
        día
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center"><span>Llámanos 3009108496 | Escríbenos Y F I</span> </div>
    </div>
  </div>
</div>


<div class="bg-primary text-white fw-bolder" id="nav2">
  <div class="container" >
    <div class="row d-flex justify-content-between" >
      <div class="col-9 row d-flex justify-content-start align-items-center"><span class="col-2">Logo</span>
        <form class="col-5">
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                   aria-describedby="addon-wrapping">
          </div>
        </form>
        <span class="col-2">flag select</span>

      </div>
      <div class="col-3 d-flex justify-content-center align-items-center">Mi cuenta canasta</div>
    </div>
  </div>
</div>
